# APP Settings
APP_ENV=development
APP_DEBUG=true

# API Settings
API_HOST=0.0.0.0
API_PORT=8000

# DB Settings
DB_URL=postgresql://postgres:password@localhost:5432/mydb
DB_URL_POOLED=postgresql://postgres:password@localhost:6543/mydb

ANILIST_REQUEST_DELAY=0.7
ANILIST_MAX_PAGES=200