# APP Settings
APP_ENV=development
APP_DEBUG=true

# API Settings
API_HOST=0.0.0.0
API_PORT=8000

# DB Settings
DB_URL=postgresql://postgres:password@localhost:5432/mydb
DB_URL_POOLED=postgresql://postgres:password@localhost:6543/mydb

# AniList Settings
ANILIST_REQUESTS_PER_MINUTE=30
ANILIST_MIN_ID=30001
ANILIST_MAX_ID=30201